# macOS
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa

# Bundler
.bundle

# Carthage
Carthage/Build/

# CocoaPods
# Pods/

# xcframework은 기본적으로 무시
*.xcframework/

# ✅ Podspec과 같은 위치에 있는 Frameworks 폴더 내 .xcframework만 포함
!Frameworks/
!Frameworks/TJLabsAuth.xcframework/
!Frameworks/TJLabsAegis.xcframework/
!Frameworks/TJLabsCommon.xcframework/

# ❌ Example 샘플 프로젝트 내부의 프레임워크는 무시
Example/**/Frameworks/
Example/**/xcframeworks/
Example/**/*.xcframework/

# 기타
*.xcworkspace/